@import '../../scss/variables';

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;

  .item {
    background-color: #f9f9f9;
    border: 1px solid $black;
    border-radius: 10px;
    padding: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.001);
    }

    .content {
      display: flex;
      flex-direction: column;
      position: relative;
      h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      img {
        position: absolute;
        left: -40px;
        top: 60px;
        width: 100px;
        height: auto;
        object-fit: contain;
        z-index: 1;
      }

      p {
        margin: 0;
        font-size: 14px;
        color: #333;
      }

      .price {
        position: relative;
        justify-content: end;
        font-size: 20px;
        font-weight: bold;
        color: darken($black, 10%);
        align-self: flex-end;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;

      button {
        border: 1px solid $black;
        border-radius: 7px;
        padding: 10px;
        background-color: $gray-line;
        font-size: medium;
        transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
        color: $black;
        cursor: pointer;

        &:hover {
          background-color: darken($gray-line, 100%);
          transform: translateY(-2px);
          color: $gray-line;
        }

        &:active {
          transform: translateY(0);
        }
      }

      .addToCart {
        background-color: lighten($grayVar, 25%);
        color: white;
        border-color: $grayVar;

        &:hover {
          background-color: darken($grayVar, 80%);
          border-color: darken($grayVar, 10%);
          color: white;
          transform: translateY(-2px);
        }
      }
    }
  }
}
