@import '../../scss/variables';
.quizPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: $gray-line;
}

.card {
  margin: 50px;
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  width: 75%;
  border: 1px solid $black;
}

.question {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.options {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;

  li {
    background: $gray-line;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid $black;
    &:hover {
      background: darken($black, 80%);
      color: $gray-line;
    }
  }
}
.selected {
  color: $black;
  font-weight: bold;
  font-size: 20px;
}
button {
  background: $black;
  color: $gray-line;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;

  &:hover {
    background: darken($gray-line, 50px);
  }

  &:disabled {
    background: darken($black, 80%);
    color: $gray-line;
    cursor: not-allowed;
  }
}

.recommendation {
  margin-top: 40px;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
