.quizPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: linear-gradient(to right, #f0f9ff, #fff);
}

.card {
  margin: 50px;
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 75%;
}

.question {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.options {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;

  li {
    background-color: #e3f2fd;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #bbdefb;
    }
  }
}
.selected {
  background-color: #64b5f6;
  color: white;
  font-weight: bold;
}
button {
  background-color: #2196f3;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #1976d2;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.recommendation {
  margin-top: 40px;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
