.root {
  position: relative;
  width: 25vw;
}

.input {
  border: 1px #757575 solid;
  padding: 8px 45px;
  width: 25vw;
  border-radius: 15px;
  font-size: 16px;
  height: 51px;
  transition: width 0.3s ease, padding 0.3s ease;
}

.input:focus {
  padding: 8px 60px;
  width: 24vw;
}

.iconSearch {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 12px;
  top: 11px;
  fill: #757575;
  transition: left 0.3s ease;
}

.input:focus ~ .iconSearch {
  left: 20px;
}

.iconClear {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 12px;
  top: 11px;
  fill: #757575;
  transition: right 0.3s ease;
}

.input:focus ~ .iconClear {
  right: 50px;
}

@media (max-width: 800px) {
  .root {
    display: none;
  }
}
